<div class="dish-card">
  <div class="dish-card-header">
    {{cocktail_name}}
  </div>
  <div class="card-body">
    <p>
      Ingredients:
      {{ingredients}}
    </p>
    <p>
      Directions:
      {{directions}}
    </p>
  </div>
</div>