<div class="container">
  <div class="card col-md-10">
    <h2>
      &#127869 Cocktail Recipes
    </h2>
  </div>
  <!-- We implement the built-in helper, #each. This helper will iterate over dishes -->
  {{#each cocktails as |cocktail|}}
  <!-- For each drink in the array of drink objects, the following <div> will be rendered. -->
    <div class="card col-md-4">
      <!-- We use drink.id to pull drinks from the db-->
      <h4>{{cocktail.cocktail_name}}</h4>
      <br>
      <p>Ingredients:</p>
      <p>{{cocktail.ingredients}}</p>
      <br>
      <p>Directions:</p>
      <p>{{cocktail.preparation}}</p>
      <br>
      <p>Garnish:</p> 
      <p>{{cocktail.garnish}}</p>  
    </div>
    
  </div>
    <!-- Below, we close the #each helper. -->
  {{/each}}
</div>
