<div id="backgroundLogin" class = "text-center">
  {{!-- <div class="row" id = "loginRow"> --}}
    <div class="col-sm-10 col-md-6">
      <main class="card-signUp w-100 m-auto text-center">
        <form class="form login-form">
          <img
            class="mb-4"
            src="/assets/images/mixituplogodarkcropped.png"
            width="55%vw"
            height="auto"
            id= "opacity"
          />
          <table class = "center">
            <tr>
              {{!-- <div class="row form-group"> --}}
                <td><label class= "col-6 left" for="email-login">email:</label></td>
                <td><input class="col-6 form-input" type="text" id="email-login" /></td>
              </tr>
              {{!-- <div class="row form-group"> --}}
              <tr>
                <td><label class="col-6 left" for="password-login">password:</label></td>
                <td><input class="col-6 form-input" type="password" id="password-login" /></td>
              </tr>
            </table>
              <div class="form-group">
                <button class="btn btn-primary" type="submit" >login</button>
              </div>
        </form>
        <a id="signUpHyperLink" data-toggle="modal" data-target="#signUpModal"> or Sign Up here </a>

<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Please fill out the form below</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>
      </div>
    {{!-- <div class="col-md-6">
      <h2>Signup</h2>

      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div> --}}
<script src="./js/login.js"></script>
